.backgroundSection{
  background-color: black;
  height: vh;
  padding: 35px;
}
.top-heading{
  border-style: solid;
  border-width: 3px;
  border-color: red;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  background-image:  linear-gradient(to right, #581e63, #d47086, #8b4cc7);
}

.editContainer{
  text-align: center;
  color: rgb(120, 17, 236);
  font-weight: bold;
  background-color: white;
  border: 5px solid red;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding: 15px;
  font-size: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}


.editInputEle{
  margin-top: 0px;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
}
.editPara{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
}
.innerEditContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editSaveButton{
  background-color: red;
  color: white;
  font-weight: bold;
  width: 60px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px;
}
@media (orientation: landscape){
  .backgroundSection{
    padding-left: 200px;
    padding-right: 200px;
  }
}